# Windows image file caches
Thumbs.db
ehthumbs.db
# Folder config file
Desktop.ini
# Recycle Bin used on file shares
$RECYCLE.BIN/
# Windows Installer files
*.cab
*.msi
*.msm
*.msp
# Windows shortcuts
*.lnk
# =========================
# Operating System Files
# =========================
# OSX
# =========================
.DS_Store
.AppleDouble
.LSOverride
# Thumbnails
._*
# Files that might appear on external disk
.Spotlight-V100
.Trashes
# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
# R Studio files
.Rproj.user/
.Rhistory
.Rapp.history
.httr-oauth
.RData
Coursera Data Science/05 Reproducible Research/Project 1/activity.csv
Coursera Data Science/05 Reproducible Research/Project 1/Project 1.md
Coursera Data Science/05 Reproducible Research/Project 1/Project 1.html
Coursera Data Science/05 Reproducible Research/Project 1/figure/unnamed-chunk-4-1.png
Coursera Data Science/05 Reproducible Research/Project 1/figure/unnamed-chunk-12-1.png
Coursera Data Science/05 Reproducible Research/Project 1/figure/unnamed-chunk-15-1.png
Coursera Data Science/05 Reproducible Research/Project 1/Project_1.html
Coursera Data Science/05 Reproducible Research/Project 1/repdata_data_activity.zip
Coursera Data Science/05 Reproducible Research/Project 1/figure/unnamed-chunk-7-1.png
Coursera Data Science/05 Reproducible Research/Project 2/docs/Storm Data FAQ.pdf
Coursera Data Science/05 Reproducible Research/Project 2/data/repdata_data_StormData.csv.bz2
Coursera Data Science/05 Reproducible Research/Project 2/data/stormData.RData
Coursera Data Science/05 Reproducible Research/Project 2/docs/Events.xlsb
Coursera Data Science/05 Reproducible Research/Project 2/docs/Example.pdf
Coursera Data Science/05 Reproducible Research/Project 2/docs/Storm Data Documentation.pdf
Coursera Data Science/05 Reproducible Research/Project 2/docs/Abridged Storm Data Documentation.docx
Coursera Data Science/05 Reproducible Research/Project 2/data/Events.csv
Coursera Data Science/05 Reproducible Research/Project 2/data/Partially Cleansed Data.txt
Coursera Data Science/05 Reproducible Research/Project 2/data/Partially Cleansed Data.xlsb
Coursera Data Science/05 Reproducible Research/Project 2/data/repdata_data_StormData.csv
Coursera Data Science/05 Reproducible Research/Project 2/docs/Example.txt
Coursera Data Science/05 Reproducible Research/Project 2/Project_2.html
Coursera Data Science/05 Reproducible Research/Project 2/Project_2_cache/html/unnamed-chunk-2_22063a11733e334a5be743500422834f.RData
Coursera Data Science/05 Reproducible Research/Project 2/Project_2_cache/html/unnamed-chunk-2_22063a11733e334a5be743500422834f.rdb
Coursera Data Science/05 Reproducible Research/Project 2/Project_2_cache/html/unnamed-chunk-2_22063a11733e334a5be743500422834f.rdx
Coursera Data Science/05 Reproducible Research/Project 2/Project_2_cache/html/__packages
Coursera Data Science/05 Reproducible Research/Project 2/Project_2_files/figure-html/unnamed-chunk-15-1.png
Coursera Data Science/05 Reproducible Research/Project 2/Project_2_files/figure-html/unnamed-chunk-16-1.png
Coursera Data Science/05 Reproducible Research/Project 2/Project_2_files/figure-html/unnamed-chunk-17-1.png
Coursera Data Science/05 Reproducible Research/Project 2/rsconnect/documents/Project 2.Rmd/rpubs.com/rpubs/Publish Document.dcf
